{% extends 'base.html' %}

{% block content %}
    <h1>About Us</h1>
    <p>Welcome to our online IT store! We are a leading provider of IT Technical Support, computer hardware, software, and accessories.</p>
    <p>Our mission is to provide our customers with the latest and greatest IT support and technology products at affordable prices.</p>
    <p>We offer a wide range of products, including laptops, desktops, tablets, smartphones, and more.</p>
    <p>Our team is dedicated to providing excellent customer service and support to ensure that our customers have a positive shopping experience.</p>
{% endblock %}
