{% extends 'index.html' %}

{% block content %}
    <h1>Contact Us</h1>
    <p>If you have any questions or need to get in touch with us, please don't hesitate to contact us.</p>
    <p>We are available to answer your questions and provide support via phone, email, or live chat.</p>
    <form action="#" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
    <p>Phone: 072-338-6439</p>
    <p>Email: [futureitsolutions2021@gmail.com](mailto:futureitsolutions2021@gmail.com)</p>
{% endblock %}
